:root{
    --primary-100: #ebf4ff;
    --primary-200: #c3dafe;
    --primary-300: #a3bffa;
    --primary-400: #7f9cf5;
    --primary-500: #667eea;
    --primary-600: #5a67d8;
    --primary-700: #4c51bf;
    --primary-800: #434190;
    --primary-900: #3c366b;
}